Language:    	Cpp

# BasedOnStyle:  LLVM
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: false
AlignConsecutiveAssignments: false

# Gotta make it look good!
PointerAlignment: Left
ColumnLimit: 100
AccessModifierOffset: 0
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: Always
PackConstructorInitializers: CurrentLine
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Allman
