[submodule "third-party/bgfx"]
	path = third-party/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "third-party/bx"]
	path = third-party/bx
	url = https://github.com/bkaradzic/bx
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw
[submodule "third-party/bimg"]
	path = third-party/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "third-party/bnet"]
	path = third-party/bnet
	url = https://github.com/bkaradzic/bnet
